{% extends "base.html" %}
{% block mode %}Summer Mode{% endblock %}
{% block chillers_on_time %}
    <h4 class="text-center">On Time</h4>
    {% for i in range(1,5) %}
        <p><strong>Chiller {{i}}:</strong> <span id="chillerOnTime{{ i }}">{{ data["actStream"][i]["timeStamp"] }}</span></p>
    {% endfor %}
{% endblock %}
{% block system_map %}
    <img src="static/images/Icons/Boiler/arrow1.png" alt=""/>
    {% for i in range(1,5) %}
        {% if data["actStream"][i]["status"] == 0 %}
            <img id="chillerStatus{{ i }}" src="static/images/Icons/Boiler/Chiller-OFF.png" alt=""/>
        {% elif data["actStream"][i]["status"] == 1 %}
            <img id="chillerStatus{{ i }}" src="static/images/Icons/Boiler/Chiller-ON.png" alt=""/>
        {% endif %}
    {% endfor %}
    <img src="static/images/Icons/Boiler/arrow2.png" alt=""/>
    <div class="row">
        <div class="col-md-2">
            <span class="returnTemp">{{ data["results"]["returnTemp"] }}</span> &deg;F
        </div>
        <div class="col-md-2 col-md-offset-8">
            <span class="waterOutTemp">{{ data["results"]["waterOutTemp"] }}</span> &deg;F
        </div>
    </div>
{% endblock %}
{% block form %}
    <div class="form-group no-gutter form-group-no-gutter">
        <label for="cascadeTime" class="col-md-6 control-label">Cascade Time</label>
        <div class="col-md-3">
            <p class="form-control-static"><span id="cascadeTime">{{ data["results"]["CCT"] }}</span> min.</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control input-sm" name="cascadeTime">
        </div>
    </div>
{% endblock %}
{% block js %}
    $("#cascadeTime").text(results.CCT.toFixed(1));
    $("[id^=chillerOnTime]").each(function(i) {
        $(this).text(actStream[i + 1].timeStamp);
    });
    $("[id^=chillerStatus]").each(function(i) {
        if (actStream[i + 1].status == 0) {
            $(this).attr("src", "static/images/Icons/Boiler/Chiller-OFF.png");;
        } else if (actStream[i + 1].status == 1) {
            $(this).attr("src", "static/images/Icons/Boiler/Chiller-ON.png");;
        }
    });
{% endblock %}