{% extends "base.html" %}
{% block switches %}
    <div class="pull-left">
        <img id="winterStatus" class="center-block" src="/static/images/Icons/WinterSummer/WOff.png" alt=""/>
        <a class="switch-mode" data-mode="2" href="#">Winter</a>
    </div>
    <div class="pull-right">
        <img id="summerStatus" class="center-block" src="/static/images/Icons/WinterSummer/SOn.png" alt=""/>
        <span class="switch-mode">Summer</span>
    </div>
{% endblock %}
{% block mode %}
    <span id="mode-header">Summer Mode</span>
    <span id="timer"></span>
{% endblock %}
{% block chillers_on_time %}
    <div id="chillers-on-time">
        <h4 class="text-center">Last Switch Time</h4>
        {% for i in range(1, 5) %}
            <p><strong>Chiller {{i}}:</strong> <span id="chillerOnTime{{ i }}">{{ data["actStream"][i]["timeStamp"] }}</span></p>
        {% endfor %}
    </div>
{% endblock %}
{% block system_map %}
    <img src="static/images/Icons/Boiler/arrow1.png" alt=""/>
    {% for i in range(1,5) %}
        {% if data["actStream"][i]["status"] == 0 %}
            <img id="chillerStatus{{ i }}" src="static/images/Icons/Boiler/Chiller-OFF.png" alt=""/>
        {% elif data["actStream"][i]["status"] == 1 %}
            <img id="chillerStatus{{ i }}" src="static/images/Icons/Boiler/Chiller-ON.png" alt=""/>
        {% endif %}
    {% endfor %}
    <img src="static/images/Icons/Boiler/arrow2.png" alt=""/>
    <div class="row">
        <div class="col-md-2">
            <span class="return_temp">{{ data["results"]["return_temp"] }}</span> &deg;F
        </div>
        <div class="col-md-2 col-md-offset-8">
            <span class="water_out_temp">{{ data["results"]["water_out_temp"] }}</span> &deg;F
        </div>
    </div>
{% endblock %}
{% block form %}
    <div class="form-group no-gutter form-group-no-gutter">
        <label for="cascade_time" class="col-md-6 control-label">Cascade Time</label>
        <div class="col-md-3">
            <p class="form-control-static"><span id="cascade_time">{{ data["results"]["cascade_time"] }}</span> min.</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control input-sm" name="cascade_time">
        </div>
    </div>
{% endblock %}
{% block property_boiler %}disabled{% endblock %}