{% extends "base.html" %}
{% block switches %}
    <div class="pull-left">
        <img id="winterStatus" class="center-block" src="/static/images/Icons/WinterSummer/WOn.png" alt=""/>
        <span>Winter</span>
    </div>
    <div class="pull-right">
        <img id="summerStatus" class="center-block" src="/static/images/Icons/WinterSummer/SOff.png" alt=""/>
        <a class="switch-mode" data-mode="3" href="#">Summer</a>
    </div>
{% endblock %}
{% block mode %}
    <span id="mode-header">Winter Mode</span>
    <span id="timer"></span>
{% endblock %}
{% block modbus %}
    <div id="modbus">
        <h4 class="text-center">Modbus</h4>
        <dl class="dl-horizontal dl-horizontal-text-left">
            <dt>System Supply Temp</dt>
            <dd><span class="system_supply_temp">0</span> &deg;F</dd>
            <dt>Outlet Temp</dt>
            <dd><span class="outlet_temp">0</span> &deg;F</dd>
            <dt>Inlet Temp</dt>
            <dd><span class="inlet_temp">0</span> &deg;F</dd>
            <dt>Cascade Power</dt>
            <dd><span class="cascade_current_power">0</span> %</dd>
            <dt>Lead Firing Rate</dt>
            <dd><span class="lead_firing_rate">0</span> %</dd>
        </dl>
    </div>
{% endblock %}
{% block system_map %}
    <div class="row no-gutter">
        <div class="col-md-4">
            <div class="pull-right thumbnail boiler-thumbnail">    
                {% if data["actStream"][0]["status"] == 0 %}
                    <img id="boilerStatus" src="static/images/Icons/Boiler/Boiler-OFF.png" alt="">
                {% elif data["actStream"][0]["status"] == 1 %}
                    <img id="boilerStatus" src="static/images/Icons/Boiler/Boiler-ON.png" alt="">
                {% endif%}
            </div>
            <div class="boiler-caption">
                <br/>
                <p class="text-center"><strong>Cascade Fire</strong></p>
                <p class="text-center"><span class="cascade_current_power">0</span> %</p>
                <p class="text-center"><strong>Lead Fire</strong></p>
                <p class="text-center"><span class="lead_firing_rate">0</span> %</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <span class="outlet_temp">0</span> &deg;F
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <span class="system_supply_temp">0</span> &deg;F
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/Icons/Boiler/arrow4.png" />
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-3 col-md-offset-3">
                    <span class="water_out_temp">{{ data["results"]["water_out_temp"] }}</span> &deg;F
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <span class="inlet_temp">0</span> &deg;F
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/Icons/Boiler/arrow3.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <span class="return_temp">{{ data["results"]["return_temp"] }}</span> &deg;F
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block property_chiller %}disabled{% endblock %}