{% extends "base.html" %}
{% block mode %}Winter Mode{% endblock %}
{% block modbus %}
    <h4 class="text-center">Modbus</h4>
    <dl class="dl-horizontal dl-horizontal-text-left">
        <dt>System Supply Temp</dt>
        <dd><span class="systemSupplyTemp"></span></dd>
        <dt>Outlet Temp</dt>
        <dd><span class="outletTemp"></span></dd>
        <dt>Inlet Temp</dt>
        <dd><span></span></dd>
        <dt>Cascade Power</dt>
        <dd><span class="cascadeCurrentPower"></span></dd>
        <dt>Lead Firing Rate</dt>
        <dd><span class="leadFiringRate"></span></dd>
    </dl>
{% endblock %}
{% block system_map %}
    <div class="row no-gutter">
        <div class="col-md-4">
            <div class="pull-right thumbnail boiler-thumbnail">    
                {% if data["actStream"][0]["status"] == 0 %}
                    <img src="static/images/Icons/Boiler/Boiler-OFF.png" alt="">
                {% elif data["actStream"][0]["status"] == 1 %}
                    <img src="static/images/Icons/Boiler/Boiler-ON.png" alt="">
                {% endif%}
            </div>
            <div class="boiler-caption">
                <br/>
                <p class="text-center"><strong>Cascade Fire</strong></p>
                <p class="text-center"><span class="cascadeCurrentPower">11</span></p>
                <p class="text-center"><strong>Lead Fire</strong></p>
                <p class="text-center"><span class="leadFiringRate">11</span></p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <span>10</span>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <span>10</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/Icons/Boiler/arrow4.png" />
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-2 col-md-offset-3">
                    <span>11</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <span>10</span>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <span>10</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/Icons/Boiler/arrow3.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <span>11</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block form %}
    <div class="form-group no-gutter form-group-no-gutter">
        <label for="setPointOffset" class="col-sm-6 control-label">Setpoint Offset</label>
        <div class="col-sm-3">
            <p class="form-control-static"><span id="parameterX">{{ data["results"]["parameterX"] }}</span> &deg;F</p>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm" name="setPointOffset">
        </div>
    </div>
    <div class="form-group no-gutter form-group-no-gutter">
        <label for="tolerance" class="col-sm-6 control-label">Tolerance</label>
        <div class="col-sm-3">
            <p class="form-control-static"><span id="t1">{{ data["results"]["t1"] }}</span> &deg;F</p>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm" name="tolerance">
        </div>
    </div>
{% endblock %}
{% block js %}
    $(".systemSupplyTemp").text(data.system_supply_temp);
    $(".outletTemp").text(data.outlet_temp);
    $(".inletTemp").text(data.inlet_temp);
    $(".flueTemp").text(data.flue_temp);
    $(".cascadeCurrentPower").text(data.cascade_current_power);
    $(".leadFiringRate").text(data.lead_firing_rate);
{% endblock %}